body {
    font-size: 1rem;
    font-family: "Arial";
}
.dropdown-menu {
    display: none;
}

/* CSS để hiển thị menu sổ xuống khi hover vào mục "Danh mục" */
.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-item > a {
    color: #fff5f5 !important;
    font-weight: 700;
    font-size: 1.1rem;
}

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

.user-avatar img {
    width: 45px;
    height: 55px;
}


.action-buttons button {
    display: inline-block;
    margin-right: 5px; /* Adjust the spacing between buttons */
}

.table td,
.table thead th {
    vertical-align: middle;
    text-align: center;
}


.user-profile {
    display: flex;
    align-items: flex-start;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
}

.avatar {
    flex: 0 0 150px;
    margin-right: 20px;
}

.avatar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.user-info {
    flex: 1;
}

.user-info h2 {
    margin-top: 0;
    color: #333;
}

.user-info p {
    margin: 0;
    margin-bottom: 10px;
    color: #666;
}

.table-container {
    max-width: 800px;
    margin: 20px auto;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-container th, .table-container td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: left;
}

.table-container th {
    background-color: #f0f0f0;
}

.post-content {
    max-height: 3.6em;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2; /* Number of lines to show */
    -webkit-box-orient: vertical;
}

/* Style for the success message */
.alert-success {
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
    padding: 8px;
    margin-bottom: 10px;
    animation: fadeInOut 2s ease-in-out;
}

/* Style for the failure message */
.alert-danger {
    background-color: #f2dede;
    color: #a94442;
    border: 1px solid #ebccd1;
    padding: 8px;
    margin-bottom: 10px;
    animation: fadeInOut 2s ease-in-out;
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    10%, 90% {
        opacity: 1;
    }
}

#editGroupForm {
    background-color: #9dd7ff;
    width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
intput {
    outline: none;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    min-height: 100px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.sec-footer {
    background: #212529;
    color: white;
}

.border-left-primary {
    border-left: 0.25rem solid #4e73df!important;
}

.border-left-success {
    border-left: 0.25rem solid #1cc88a!important;
}

.border-left-info{
    border-left: 0.25rem solid #36b9cc!important;
}

.border-left-warning {
    border-left: 0.25rem solid #f6c23e!important;
}

@media (min-width: 768px) {
    .chart-area {
        height: 20rem;
    }
}

@media (min-width: 768px) {
    .chart-pie {
        height: calc(20rem - 43px) !important;
    }
}

.font-weight-bold {
    font-weight: 700;
}

select {
    outline: none;
}

.text-gray-300 {
    color: #aaaaaa;
    font-weight: 300;
}

.my-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

.my-button.active {
    background-color: #0066d2;
    color: #fff;
}

.my-button:hover {
    background-color: #0056b3;
    color: #fff;
}